.cart{
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: $z-cart;
  background-color: rgba(255, 255, 255, 1);
  // border: 1px solid white;
  @include respond-to(phone){
    // height: calc(100vh - 100px);
    // top: 100px;
  }
}



.cart-close{
  display: block;
  position: fixed;
  right:$margin-sides;
  top:$margin-sides;
  width: 40px;
  height:40px;
  z-index: $z-cartclose;
  @include respond-to(phone){
    top:100px;
  }
  a{
    display: block;
    width: 100%;
    height:100%;
    border: 0!important;
    svg{
      width: 100%;
      height:100%;
      line{
        stroke: $black;
      }
    }
  }

}

.cart-contents{
  height: 100%;
  overflow: scroll;
}
.cart-ul{
  position: relative;
  left: 15vw;
  margin-top:$margin-top;
  width:70vw;
  height:auto;

  @include respond-to(phone){
    left: $margin-sides;
    width:90vw;
  }
  .cart-li{
    width:100%;
    display:block;
    height: 70px;
    position: relative;
    margin-top: $margin-top-li;
    .cart-img{
      height: 70px;
      width:auto;
      float:left;
    }
    &:nth-child(1){
      margin-top:50px;
    }

    .cart-name{
      margin-left: $margin-right-p;
      @include respond-to(phone){
        margin-left: 0;
        width: 220px;
      }
    }
    .cart-price{
      float:right;
      margin-right: 100px;
      @include respond-to(phone){
        float:left;
        margin-right:auto;
      }
    }
    .cart-remove{
      float:right;
      @include p();
      position: absolute;
      right: 0;
      line-height: 70px;
      height:70px;
      // @include hover-effect-glow($red);
      @include respond-to(phone){
        line-height: $line-height-paragraph;
        height:auto;
      }

    }
    p{
      @include p();
      float:left;
      line-height: 70px;
      height:70px;
      @include respond-to(phone){
        line-height: $line-height-paragraph;
        height:auto;
      }
    }
  }
}

.cart-total{
  position: relative;
  height: 70px;
  width: auto;
  margin-top: $margin-top-li;
  padding-bottom: $padding-bottom;
  @include respond-to(phone){
    left: $margin-sides;
    width:90vw;
  }
  .cart-total-tax{
    @include p();
    height: 70px;
    line-height: 70px;
  }
  .cart-total-amount{
    @include p();
    height: 70px;
    line-height: 70px;
    span{
      margin-left: $margin-right-p;
    }
  }
}








.form-title{
  @include h1();
  position: fixed;
  top:$margin-sides;
  left:$margin-sides;
}

.form-subtitle{
  @include h2();
}



.checkout-button{
  position: fixed;
  bottom: $margin-sides;
  right:$margin-sides;
  text-align: right;
  width: 500px;
  height:$button-height;
  cursor:pointer;
  color: $black;
  background-color: transparent;

  @include h2();
  // @include hover-effect-glow($red);
  border: 0;
  border-bottom: 1px solid $black;
  outline: 0;
  padding: 0;
  // transition: width 2s ease;
  // -webkit-transition: width 2s ease;
  // -moz-transition: width 2s ease;
  // -o-transition: width 2s ease;
  // -moz-transition: width 2s ease;
  &:hover{
    width:85vw;
  }

  @include respond-to(phone){
    box-sizing: border-box;
    width:70vw;
    // bottom:100px;
    position: fixed;
  }
}

.cart-back{
  position: fixed;
  left:$margin-sides;
  bottom: $margin-sides;
  width: auto;
  a{
    height:100%;
    @include h2();
    color: $black;
    // @include hover-effect-glow($red);
    line-height: normal;
    @include respond-to(phone){
      height:$line-height-h2;
      line-height:$line-height-h2;
    }
  }
}


.form-entry{
  width:100%;
  height:20px;
  position: relative;
  margin-top: 5px;
  &:nth-child(1){
    margin-top: 15px;
  }
  input{
    width: 100%;
    left: 0px;
    position: absolute;
    top: 50%;
    height: 20px;
    margin-top: -10px;
    color: $black;
    background-color: transparent;
    border:0;
    border-bottom:1px solid $black;
    text-align: left;
    outline:0;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    @include p();
    @include respond-to(phone){
      line-height: normal;
      width:100%;
    }
    &:hover, &:focus{
      outline:0;
    }

    &::-webkit-input-placeholder {
       color: $black;
    }
    &:-moz-placeholder { /* Firefox 18- */
       color: $black;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: $black;
    }

    &:-ms-input-placeholder {
        color: $black;
    }

  }

}




select{
  width: 100%;
  left: 0px;
  position: absolute;
  top: 50%;
  height: 20px;
  margin-top: -10px;
  color: $black;
  background-color: transparent;
  border:0;
  border-bottom:1px solid $black;
  text-align: left;
  outline:0;
  @include p();
  $placeholder-color:#FFFFFF;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  line-height: normal;
  @include respond-to(phone){
    width:100%;
  }

  &::-webkit-input-placeholder {
     color: $black;
  }
  &:-moz-placeholder { /* Firefox 18- */
     color: $black;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
     color: $black;
  }

  &:-ms-input-placeholder {
      color: $black;
  }
}




// .ng-valid .ng-pending .ng-pristine .ng-submitted

input.ng-dirty.ng-invalid , select.ng-dirty.ng-invalid{
  border-bottom: 1px solid $red;
}




.cart-error{
  width: 100%;
  p{
    text-align: center;
  }
}
