.contact{
  width:100vw;
  height:100vh;
  @include respond-to(phone){
    height: calc(100vh - 100px);
    margin-top: 100px;
    position: relative;
  }
}

.contact-ul{
  width: 70vw;
  margin: auto;
  display: block;
  .contact-li{
    width: 100%;
    .contact-p{
      width: 100%;
      text-align: center;
      // @include p();
      .contact-a{
        @include p();
        color: $black;

      }
    }
  }
}
