
.product-detail{
  position: absolute;
  top:0;
  right:0;
  width:30vw;
  height:100%;
}


.product-name{
  position: absolute;
  left:0px;
  top:0;
  height:100%;
  width:30vw;
  h2{
    width: 90%;
    text-align: center;
    position: relative;
    display: block;
  }
}


.detail{
  width:300px;
  height:100%;
  position: absolute;
  margin-top: 0vh;
  z-index: $z-detail;
}




.detail-functions{
  position: relative;
  width: auto;
  height: auto;
  z-index: $z-detail-functions;
  @include respond-to(phone){
    bottom:$margin-sides;
    width:100px;

  }
}



.detail-price{
  position: relative;;
  display:block;
  height: $line-height-paragraph;
  width:100%;
  @include respond-to(phone){
    position: fixed;
    bottom: $margin-sides;
    left:$margin-sides;
    width:50px;
  }
  h3{
    height:100%;
    width:100%;
    text-align: right;
  }
  // z-index: $z-price;

}


.detail-description{
  width: 100%;
  text-align: left;
  display: block;
}


.detail-modifiers{
  position: relative;
  margin-top: $margin-top-paragraph;
  display: block;
  .detail-modifiers-ul{
    display: block;
    width:auto;
    .detail-modifiers-ul-placeholder{
      width:auto;
      display: block;
      // float:left;
      @include paragraph();
    }
    .detail-modifiers-variations{
      width:auto;
      display: inline-block;
      .detail-modifiers-variations-li{
        display: inline-block;
        margin-left: $margin-left-paragraph;
        &:nth-child(1){
          margin-left: 0;
        }
        a{
          @include paragraph();
        }
      }
    }
  }
}


.detail-add{
  // margin-top: $margin-top-li;
  position: absolute;
  bottom: 0;
  height:auto;
  width:100%;
  display: block;
  h2{
    display: block;
    width:100%;
    text-align: center;
    vertical-align: middle;
    margin:0;
    @include hover-effect-glow($red);

  }
}



// .detail-images{
//   .detail-images-single{
//     &:nth-child(1){
//       margin-top: 10vh;
//     }
//     .detail-img{
//       max-width: 20vw;
//       margin: auto;
//       display: block;
//       margin-top: 25vh;
//
//
//       @include respond-to(phone){
//         max-width: 52vw;
//       }
//     }
//   }
// }
//
// .detail-images.zoom{
//   width:100vw;
//   height:auto;
//   .detail-images-single{
//     width:100vw;
//     height:100vh;
//     img{
//       max-width: 80vw !important;
//     }
//   }
// }
