
.product-detail{
  position: absolute;
  top:0;
  right:0;
  width:27vw;
  height:100%;
  @include respond-to(phone){
    right: auto;
    bottom: auto;
    width: 100vw;
    position: relative;
  }
}


.product-name{
  position: absolute;
  left:0px;
  top:0;
  height:100%;
  width:27vw;
  @include respond-to(phone){
    height: 40vw;
  }
  table{
    @include respond-to(phone){
      height: 100% !important;
    }
  }
  h2{
    width: 90%;
    margin: auto;
    text-align: center;
    position: relative;
    display: block;
  }
}


.detail{
  width:27vw;
  height:100%;
  position: absolute;
  margin-top: 0vh;
  z-index: $z-detail;
  @include respond-to(phone){
    width: 100vw;
    padding-top: 5vh;
    position: relative;
  }
}

.detail-content{
  margin-top: 10vh;
  @include respond-to(phone){
    margin-top: 0;
  }
}




.detail-functions{
  position: relative;
  width: auto;
  height: auto;
  z-index: $z-detail-functions;
  @include respond-to(phone){

  }
}



.detail-price{
  position: relative;;
  display:block;
  height: $line-height-paragraph;
  width:100%;
  // @include respond-to(phone){
  //   position: fixed;
  //   bottom: $margin-sides;
  //   left:$margin-sides;
  //   width:50px;
  // }
  @include respond-to(phone){
    text-align: center;
  }
  h3{
    height:100%;
    width:100%;
    text-align: right;
  }
  // z-index: $z-price;

}


.detail-description{
  width: 90%;
  text-align: left;
  display: block;
  max-height: 150px;
  overflow-y: scroll;
  margin-top: $margin-top-p;
  @include respond-to(phone){
    text-align: center;
    width: 100%;
  }
}


.detail-modifiers{
  position: relative;
  margin-top: $margin-top-paragraph;
  display: block;
  .detail-modifiers-ul{
    display: block;
    width:auto;
    .detail-modifiers-ul-placeholder{
      width:auto;
      display: block;
      // float:left;
      @include p();
    }
    .detail-modifiers-variations{
      width:auto;
      display: inline-block;
      @include respond-to(phone){
        width: auto;
        display: inline-block;
        margin: auto;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
      }
      .detail-modifiers-variations-li{
        display: inline-block;
        margin-left: $margin-left-paragraph;
        &:nth-child(1){
          margin-left: 0;
        }
        a{
          @include p();
        }
      }
    }
  }
}

.activeVariant{
  a{
    border-bottom: 1px solid $black;
  }
}


.detail-add{
  // margin-top: $margin-top-li;
  position: relative;
  // bottom: 100px;
  height:auto;
  width:100%;
  display: block;
  margin-top: $margin-top-div;
  h2{
    display: block;
    width:50%;
    text-align: center;
    vertical-align: middle;
    margin:auto;
    box-sizing: border-box;
    &:hover{
      border-bottom: 1px solid $black;
    }

  }
}



// .detail-images{
//   .detail-images-single{
//     &:nth-child(1){
//       margin-top: 10vh;
//     }
//     .detail-img{
//       max-width: 20vw;
//       margin: auto;
//       display: block;
//       margin-top: 25vh;
//
//
//       @include respond-to(phone){
//         max-width: 52vw;
//       }
//     }
//   }
// }
//
// .detail-images.zoom{
//   width:100vw;
//   height:auto;
//   .detail-images-single{
//     width:100vw;
//     height:100vh;
//     img{
//       max-width: 80vw !important;
//     }
//   }
// }
