.home{
  position: fixed;
  width: 100vw;
  height: 100vh;
}





//image
.home-image{
  width:23vw;
  height:23vw;
  position: fixed;
  left:$margin-sides;
  bottom:$margin-sides;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

}




//social
.home-social{
  position: fixed;
  right:$margin-sides;
  bottom: $margin-sides;
  .home-social-li{
    display: inline-block;
    margin-left:$margin-left-paragraph;
    a{
      display: block;
    }
  }
}
