.processed{
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  position: fixed;
}

.processed-error{

}


.processed-content{
  width: 80vw;
  height: auto;
  margin: auto;
  margin-top: $margin-top;
  .processed-content-p{
    width:100%;
    @include p();
    color: black;
    span{
      width:100%;
      @include p();
      color: black;
      .processed-content-a{
        @include p();
        color: black;
      }
    }
  }
}
