.processed{
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  position: fixed;
}

.processed-error{

}


.processed-thankyou{
  width: 80vw;
  height: auto;
  margin: auto;
  margin-top: $margin-top;
  .processed-thankyou-p{
    width:100%;
    @include p();
      color: black;
    .processed-thankyou-a{
      @include p();
      color: black;
    }

  }



}
