.shipment{
  width: 100vw;
  height:100%;
  .shipment-content{
    width: 100%;
    height: 100%;

    .shipment-form{
      width:100%;
      height:100%;
      position:relative;
      .form-content{
        width: 80vw;
        // height: calc(100vh - 200px);
        padding-top: $margin-top;
        display: block;
        margin: auto;
        // overflow-y:scroll;

      }
    }
  }
}



.form-error{
  width: 100%;
  display: block;
  position: absolute;
  text-align: right;
  z-index:-1;
}



.customer{
  width:43%;
  display:inline-block;
  position: relative;
  vertical-align: top;
  margin: 0;
  // float: left;
  @include respond-to(phone){
  }
}

.address{
  width:43%;
  margin-left: 9%;
  display:inline-block;
  position: relative;
  vertical-align: top;
  padding-bottom: $margin-top;
  // float: right;
  @include respond-to(phone){
  }

  .shipping{
    width:100%;
    display:block;
  }
  .billing{
    width:100%;
    display:block;
    @include respond-to(phone){
      // top: 250px;
      // left:45%;
      // margin-left: 30px;
    }
  }
}







.isBillingDifferent{
  height: auto;
  width: auto;
  margin-bottom: $margin-top-p;
  margin-top: $margin-top-p;
  @include respond-to(phone){
    // top: 125px;
    // left:45%;
    margin-left: 0px;
  }
  label{
    @include p();
    color: $black;
  }
  input{
    display: inline;
    vertical-align: top;
    width: 33px;
    height: 20px;
    margin: 0;
  }
}



.g-recaptcha{
  position: relative;
  width: 100px;
  height: 100px;
  display: block;
  margin-top: 30px;
  @include respond-to(phone){
    margin-left:-15px;
  }
}





.termsAndServices{
  width:100%;
  display:block;
  position: relative;
  height: auto;
  width: auto;
  margin-top: $margin-top-p;
  margin-bottom: $margin-top-li;
  label{
    @include p();
    a{
      @include p();
      color:$black;
    }
    @include respond-to(phone){
      width: 100%;
      display: inline;
      vertical-align: middle;
    }
  }
  input{
    @include p();
    @include respond-to(phone){
      display: inline;
      vertical-align: top;
      width: 33px;
      height: 20px;
      margin: 0;
    }
  }
}



.terms{
  position: relative;
  height:auto;
  width:100vw;
  z-index:$z-terms;
  .terms-close{
    z-index:$z-terms-close;
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
  }
  .terms-content{
    width:80vw;
    margin: auto;
    display: block;
    text-align: justify;
    margin-top: $margin-top;
    margin-bottom: $margin-top;
    z-index:$z-terms-content;
    div{
      @include p();
      margin-top: $margin-top-div;
      h2{
        @include h2();
        margin-top: $margin-top-li;
      }
      h3{
        @include h3();
        margin-top: $margin-top-p;
      }
    }

  }
}


.radio{
  width: 100vw;
  height:100vh;
  display: block;
}
