
.shop{
  width:100vw;
  height:auto;
  background-color: #FFFFFF;
}

.shop-content.openDetail{
  height:20vh;
  position: fixed;
  top:0;
  z-index: $z-shop-content;
}


.shop-content{
  width:100vw;
  height:100vh;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  height: 100vh;
  white-space:nowrap;
}

.product-ul{
  width:auto;
  height:100%;

  .product-li{
    margin-right: 2vw;
    margin-left: 2vw;
    width:auto;
    height:100%;
    display:inline-block;
    position: relative;
    z-index: $z-shop-image;
    &:nth-child(1){
      margin-left: 15vw;
    }

    .product-li-img{
      max-width: 12vw;
      margin: auto;
      display: block;

      @include respond-to(phone){
        max-width: 70vw;
      }
    }
  }
}



.dollar{
  position: fixed;
  bottom:$margin-sides;;
  right:$margin-sides;
  height:50px;
  width:auto;
  z-index: $z-shop-dollar;
  a{
    position: relative;
    display: inline-block;
    width:auto;
    height: 50px;
    line-height: 50px;
    @include hover-effect-color(#000000, $green);

  }
  .dollar-contents{
    display: inline-block;
    position: relative;
    color:$black;
    display: inline-block;
    top: 0;
  }
}
