
.shop{
  width:100vw;
  height:auto;
  background-color: #FFFFFF;
  position: relative;
}


.shop-content{
  width:100vw;
  height:100vh;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  height: 100vh;
  white-space:nowrap;
}

.product-ul{
  width:auto;
  height:100vh;

  .product-li{
    margin-right: 200px;
    margin-left: 200px;
    width:50vw;
    height:100vh;
    display:inline-block;
    position: relative;
    z-index: $z-shop-image;

    .product-li-img{
      max-width: 20vw;
      margin: auto;
      display: block;

      @include respond-to(phone){
        max-width: 70vw;
      }

    }
    .product-li-add{
      position: absolute;
      bottom:0;
      left:0;
      width:100%;
      color: $black;
    }
  }
}


.shop-home{
  position: absolute;
  top: $margin-sides;
  left:$margin-sides;
  width:auto;
  z-index:$z-back;
  a{
    width:100%;
    display: block;
    text-align: center;
    color: $black;
  }
}



.dollar{
  position: fixed;
  top:50%;
  left:$margin-sides;
  height:50px;
  margin-top: -25px;
  width:auto;
  z-index: $z-shop-dollar;
  a{
    position: relative;
    display: inline-block;
    width:auto;
    height: 50px;
    line-height: 50px;
    @include hover-effect-color(#000000, $green);

  }
  .dollar-contents{
    display: inline-block;
    position: relative;
    color:$black;
    display: inline-block;
    top: 0;
  }
}


.product-table-functions{
  position: fixed;
  left: 50%;
  bottom: $margin-sides;
  width: 100px;
  margin-left:-50px;
  height: auto;
  z-index: $z-shop-functions;
  @include respond-to(phone-device){

  }
}

.product-add{
  position: absolute;
  bottom: 0;
  height:auto;
  width:100%;
  margin:0;
  display: inline-block;
  p{
    display: block;
    width:100%;
    text-align: center;
    vertical-align: middle;
    margin:0;
    @include hover-effect-color($black, $green);
    @include paragraph();

  }
}


.product-modifiers{
  position: relative;
  // top: $margin-top-paragraph;
  display: inline-block;
  margin-left:$margin-left-paragraph;
  .product-modifiers-ul{
    display: block;
    width:auto;
    .product-modifiers-ul-placeholder{
      width:auto;
      display: block;
      float:left;
      @include paragraph();
    }
    .product-modifiers-variations{
      width:auto;
      display: block;
      float:left;
      margin-left: $margin-left-paragraph;
      .product-modifiers-variations-li{
        display: block;
        clear: both;
        a{
          @include paragraph();

        }
      }
    }
  }
}



.shop-price{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 20px;
  line-height: 20px;
  vertical-align: 20px;
  text-align: center;
  margin-left: -25px;
  margin-top: -10px;
  z-index: $z-price;
  color: $black;
}
