
.shop{
  width:100vw;
  height:100vh;
  background-color: #FFFFFF;
}

.shop-content.openDetail{
  height:20vh;
  position: fixed;
  top:0;
  // z-index: $z-shop-content;
  -webkit-transition: cominUp $transition-medium $animation-bezier;
  -moz-transition: cominUp $transition-medium $animation-bezier;
  -ms-transition: cominUp $transition-medium $animation-bezier;
  transition: cominUp $transition-medium $animation-bezier;
}

.product-li-img.opacityProducts{
  opacity:0.2;
  -webkit-transition: opacity $transition-medium;
  -moz-transition: opacity $transition-medium;
  -ms-transition: opacity $transition-medium;
  transition: opacity $transition-medium;
}


.shop-content{
  width:100vw;
  height:100vh;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  height: 100vh;
  white-space:nowrap;
}

.product-ul{
  width:auto;
  height:100%;

  .product-li{
    margin-right: 2vw;
    margin-left: 2vw;
    width:12vw;
    height:100%;
    display:inline-block;
    position: relative;
    z-index: $z-shop-image;
    &:nth-child(1){
      margin-left: 15vw;
    }

    .product-li-img{
      width:80%;
      margin: auto;
      display: block;

      @include respond-to(phone){
        max-width: 70vw;
      }
    }
  }
}



.dollar{
  position: fixed;
  bottom:$margin-sides;;
  right:$margin-sides;
  height:100px;
  width:100px;
  z-index: $z-shop-dollar;
  p{
    position: absolute;
    right:0;
    bottom:0;
  }
  .dollar-ul{
    width:100%;
    height:100%;
    position: relative;
    .dollar-li{
      width:60%;
      height:auto;
      position: absolute;
      img{
        width:100%;
        height:auto;
        display:block;
      }
    }
  }
  .dollar-contents{
    display: inline-block;
    position: relative;
    color:$black;
    display: inline-block;
    top: 0;
  }
}


#dollar-li-1{
  right:0;
  bottom:0;
}
#dollar-li-2{
  left:50%;
  top:0;
}
#dollar-li-3{
  left:0%;
  bottom:0%;
}
#dollar-li-3{
  right:0%;
  bottom:0%;
}
#dollar-li-3{
  right:30%;
  bottom:10%;
}



.shop-content.openDetail-add.openDetail-add-active{
    -webkit-animation: cominUp $transition-fast $animation-bezier;
    -moz-animation: cominUp $transition-fast $animation-bezier;
    -ms-animation: cominUp $transition-fast $animation-bezier;
    animation: cominUp $transition-fast $animation-bezier;
}



@keyframes cominUp {
  0% { height:100vh; }
  100% { height:20vh; }
}

@-webkit-keyframes cominUp {
  0% { height:100vh; }
  100% { height:20vh; }
}

@-moz-keyframes cominUp {
  0% { height:100vh; }
  100% { height:20vh; }
}

@-ms-keyframes cominUp {
  0% { height:100vh; }
  100% { height:20vh; }
}

@-o-keyframes cominUp {
  0% { height:100vh; }
  100% { height:20vh; }
}



@keyframes cominDown {
  0% { height:20vh; }
  100% { height:100vh; }
}

@-webkit-keyframes cominDown {
  0% { height:20vh; }
  100% { height:100vh; }
}

@-moz-keyframes cominDown {
  0% { height:20vh; }
  100% { height:100vh; }
}

@-ms-keyframes cominDown {
  0% { height:20vh; }
  100% { height:100vh; }
}

@-o-keyframes cominDown {
  0% { height:20vh; }
  100% { height:100vh; }
}
