<div class="about" ng-controller="aboutCtrl">


  <ul class="about-text" ng-click="playPause()">

    <li class="about-text-li" ng-repeat="t in aboutText" ng-show="$index==view_about" style="top:{{t.y}}%; left:{{t.x}}%">
      <p class="about-text-p" style="font-family:{{t.type}};font-size:{{t.size}}px;" ng-class="{'stretch-horizontal': stretchX, 'stretch-vertical': stretchY,}">{{t.text}}</p>
    </li>

  </ul>

  <div class="delta" style="width:{{delta}}vw">
    <!-- {{delta}} -->


  </div>



  <!-- <video src="videofile.ogg" autoplay poster="posterimage.jpg">

  </video> -->

  <div class="about-video">
<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/eYb9cbUsPxY?rel=0&amp;controls=0&amp;showinfo=0;autoplay=0" frameborder="0" allowfullscreen ></iframe> -->


<div id="video"></div>
<script src="https://www.youtube.com/iframe_api"></script>

<script>




</script>
  </div>

  <!-- <table>
    <tr>
      <td>
        <p class="about-p">
          No Vacancy Inn is a London based creative collective founded by Tremaine Emory and Acyde.This past Thursday, a batch of cutting-edge Brooklyn DJs and producers recently invaded Tom Sachs’s Boombox Retrospective: 1999–2016 at the Brooklyn Museum in New York City. Tremaine Emory and Acyde of No Vacancy Inn along with special guests Venus X and NY Theo (London) helmed Sachs’s Presidential Vampire Booth, blaring live music for a throng of modish museum-goers. The group also took hold of Bodega located at the entryway of the museum—selling a wide assortment of artwork, USB mixes, T-shirts, and a delicious red velvet cake made by Emory’s mother.
          Head over to Brooklyn Museum’s official website to view more upcoming Boom Box residencies for summer sixteen.
        </p>
      </td>
    </tr>
  </table> -->



</div>
