<div class="event" ng-controller="eventCtrl">

<table>
  <tr>
    <td>
      <ul class="event-ul">
        <li class="event-li" ng-repeat="e in Event" ng-mouseenter="eventHovered=true; thisEvent(e)" ng-mouseleave="eventHovered=false">

          <p class="event-info-left" ng-show="eventHovered">
            <span>{{e.data['event.name'].value}}</span>
            <a href="{{e.data['event.link'].value.url}}" target="_blank">link</a>
          </p>

          <p class="event-date" ng-class="{'shrinkDate': eventHovered}">
            <span>{{e.data['event.date'].value.month}}</span>
            <span>.</span>
            <span>{{e.data['event.date'].value.day}}</span>
            <span>.</span>
            <span>{{e.data['event.date'].value.year}}</span>
          </p>


          <p class="event-info-right" ng-show="eventHovered">
            <span>{{e.data['event.address'].value}}</span>,
            <span>{{e.data['event.city'].value}}</span>
          </p>

        </li>
      </ul>

    </td>
  </tr>
</table>





<div class="event-image">
  <img src="{{selectedEvent.data['event.flyer'].value.main.url}}" alt="{{selectedEvent.data['event.name'].value}}"/>
</div>



</div>
