<div class="home" summary="home" ng-controller="homeCtrl" ng-class="{'blink': blink}" >




<ul class="home-social">
  <li class="home-social-li"><a href="https://www.instagram.com/novacancyinn/" target="_blank">IG</a></li>
  <li class="home-social-li"><a href="https://soundcloud.com/novacancyinn" target="_blank">SC</a></li>
</ul>


<!-- <div class="home-image" style="background-image: url('{{currentImage.image_small.value.main.url}}')" ng-if="currentImage.image_small.value.main.url">

</div> -->



</div>
