<div class="radio" ng-controller="radioCtrl">

<table>
  <tr>
    <td>
      <ul class="radio-ul">
        <li class="radio-li" ng-repeat="r in Radio" ng-mouseenter="radioHovered=true; thisRadio(r)" ng-mouseleave="radioHovered=false">
          <a href="{{r.data['radio.link'].value.url}}" target="_blank">
            <span class="radio-li-date">{{r.data['radio.date'].value}}</span>
            <span class="radio-li-title">{{r.data['radio.title'].value}}</span>
          </a>
        </li>
      </ul>

    </td>
  </tr>
</table>



<div class="radio-image" ng-if="selectedRadio.data['radio.cover'].value.main.url">
  <img src="{{selectedRadio.data['radio.cover'].value.main.url}}" alt="{{selectedRadio.data['radio.name'].value}}"/>
</div>



</div>
