<div class="radio">



  <table>
    <tr>
      <td>
        <div class="radio-comingsoon">
          <p>coming soon</p>
        </div>
      </td>
    </tr>
  </table>

<!-- <table>
  <tr>
    <td>
      <ul class="radio-ul">
        <li class="radio-li" ng-repeat="r in Radio" ng-click="radioHovered=true; thisRadio(r)">
          <p>
            <span class="radio-li-date">{{r.data['radio.date'].value}}</span>
            <span class="radio-li-title">{{r.data['radio.title'].value}}</span>
          </p>

        </li>
      </ul>

    </td>
  </tr>
</table>



<div class="radio-image" ng-if="selectedRadio.data['radio.cover'].value.main.url">
  <img src="{{selectedRadio.data['radio.cover'].value.main.url}}" alt="{{selectedRadio.data['radio.name'].value}}"/>
</div>



<div class="radio-soundcloud">

  <iframe src="{{selectedRadio.data['radio.track_id'].value | turnIntoSoundcloud }}" width="450" height="450" frameborder="0" allowtransparency="true" scrolling="no" ng-cloak></iframe>

</div> -->

</div>
