<div class="shop" ng-controller="shopCtrl">



      <div class="shop-content" ng-class="{'openDetail': isDetailOpen}" >
        <ul class="product-ul">
          <li class="product-li" ng-repeat="p in Product" ng-click="openDetailFN(p.slug)" ng-init="productHovered=false">
            <table>
              <tr>
                <td>
                  <a >
                  <img class="product-li-img" src="{{p.images[0].url.http}}" alt="{{p.description}}" ng-class="{'opacityProducts': isDetailOpen && !productHovered}" ng-mouseenter="productHovered=true" ng-mouseleave="productHovered=false"/>
                  <!-- <a class="shop-li-add" ng-click="addToCart()">add</a> -->
                  </a>
                </td>
              </tr>
            </table>

          </li>
        </ul>

      </div>


      <detail-directive></detail-directive>


      <div class="dollar" ng-click="openCart()" ng-if="Cart.total_items != 0" ng-cloak>
        <ul class="dollar-ul">
          <li class="dollar-li" id="dollar-li-{{$index}}" ng-repeat="c in Cart.contents">
            <img class="dollar-img"  src="{{c.images[0].url.https}}" alt="{{c.images[0].name}}"/>
          </li>
        </ul>


        <!-- <p class="dollar-contents" ng-cloak>{{Cart.totals.post_discount.formatted.without_tax}}</p> -->
      </div>







</div>
