.nav{
  z-index:$z-nav;
  position: fixed;
  right:0;
  height:200px;
  top:50%;
  margin-top: -100px;
}

.nav-container{
  height:200px;
  width:120px;
  position: relative;
  .nav-logo{
    width:100%;
    position: absolute;
    right:$margin-sides;
    svg{
      width:100%;
      height:auto;
      display: block;
    }
  }
  .nav-container-list{
    position: absolute;
    top:-150px;
    right:0;
    width:100%;
    a{
      width: 100%;
      display: block;
      text-align: center;
    }
  }

}
