.nav{
  position: fixed;
  right:0;
  top:50%;
  z-index:$z-nav;
  height:400px;
  margin-top: -200px;
}

.table-nav{
  height:100%;
}

.nav-container{
  height:auto;
  width:120px;
  position: relative;

  .nav-logo{
    width:100%;
    position: relative;
    right:$margin-sides;
    svg{
      width:100%;
      height:auto;
      display: block;
      position: absolute;
      z-index:11;
    }
    .nav-logo-blur{
      width:100%;
      display: block;
      opacity:0;
      z-index:10;
      -webkit-transition: opacity $transition-medium;
      -moz-transition: opacity $transition-medium;
      -ms-transition: opacity $transition-medium;
      transition: opacity $transition-medium;

    }
  }
  .nav-container-list{
    position: relative;
    right:0;
    width:100%;
    a{
      width: 100%;
      display: block;
      text-align: center;
    }
    &.top{
      padding-bottom: 15px;
    }
    &.bottom{
      padding-top: 15px;
    }
  }

}


.nav-logo-blur.blur{
  opacity:1 !important;
}
.nav-logo-blur.blur-add.blur-add-active{

}



.nav-logo svg:hover #glow { // stroke works fine, filter doesn't work
  stroke: white;
  filter: url(#blur-filter);
}
.nav-logo svg:hover #color {
  stroke: white;
}


.blink-infinite {
  animation: blink .2s steps(5, start) infinite;
  -webkit-animation: blink .2s steps(5, start) infinite;
  -moz-animation: blink .2s steps(5, start) infinite;
  -ms-animation: blink .2s steps(5, start) infinite;
  -o-animation: blink .2s steps(5, start) infinite;
}


.blink {
  animation: blink .2s steps(5, start) 3;
  -webkit-animation: blink .2s steps(5, start) 3;
}

.blink-once {
  animation: blink .2s steps(5, start) 1;
  -webkit-animation: blink .2s steps(5, start) 1;
}


@keyframes blink {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  to {
    opacity: 1;
  }
}
