<div class="processed" ng-controller="processedCtrl" ng-cloak>


  <h1 class="form-title" ng-show="Processed.value">Thank You</h1>


  <div class="processed-error" ng-show="Processed.error">
    <p>an error occurred please refresh the page</p>
  </div>

  <div class="processed-content" ng-show="Processed.value">
    <p class="processed-content-p">
      <span class="processed-content-span">
        Your order will be shipped to
        {{Processed.data.ship_to.data.address_1}}
        {{Processed.data.ship_to.data.city}}
        {{Processed.data.ship_to.data.county.value}}
        {{Processed.data.ship_to.data.country.value}}
      </span>

      <span class="processed-content-text-span">
      For any question please contact <a class="processed-content-a" href="mailto:service@novacancyinn.com?subject={{Processed.data.id}} | novacancyinn.com">service@novacancyinn.com</a>
      </span>
    </p>

  </div>



  <div class="cart-back">
    <a class="hvr-color" href="/shop">back</a>
  </div>
</div>
