<div class="processed canceled" id="processed">



  <div class="processed-content canceled">
    <table>
      <tr>
        <td>
          <div class="processed-content-text">
            <p>
              <span class="processed-content-text-span">Payment failed.</span>
              <span class="processed-content-text-span">{{Processed.data}}</span>
              <span class="processed-content-text-span">
                If you have any questions regarding your order please contact <a href="mailto:service@novacancyinn.com">service@novacancyinn.com</a>
              </span>
            </p>
          </div>
        </td>
      </tr>
    </table>



  </div>




</div>
